@import 'fonts.scss';
@import 'vars.scss';

.logo {
  width: 400px;
}

.footer {
  background-color: $guardian-brand-dark;
  padding: 15px;
  margin-top: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  line-height: 1.4;
}

.admin-btn {
  border: 1px solid $guardian-brand-light;
  background-color: $guardian-brand;
  border-radius: 21px;
  padding: 5px 15px;
  color: #fff;
  font-size: 13px;
}

.plot {
  background-color: #c6c6c6;
  position: relative;
  height: 500px;
  width: 500px;
}

.plot-point {
  background-color: red;
  width: 10px;
  height: 10px;
  position: absolute;
}

.admin--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.admin--component {
  padding: 15px;
}

.activity--admin-enter {
  opacity: 0.01;
}

.activity--admin-enter.activity--admin-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.activity--admin-leave {
  opacity: 1;
}

.activity--admin-leave.activity--admin-leave-active {
  opacity: 0.01;
  transition: opacity 700ms ease-in;
}

// Footer

.admin--connected {
  float: left;
  font-size: 75px;
  margin: 0;
}

.admin-btn--wrap {
  float: right;

  div {
    display: inline-block;
    margin-left: 10px;
  }
}