@import 'fonts.scss';

$guardian-brand-light: #94b1ca;

body {
  padding: 15px;
}

.logo {
  width: 400px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  line-height: 1.4;
}

.admin-btn {
  background-color: $guardian-brand-light;
}

.plot {
  background-color: #c6c6c6;
  position: relative;
  height: 500px;
  width: 500px;
}

.plot-point {
  background-color: red;
  width: 10px;
  height: 10px;
  position: absolute;
}

.activity--admin-enter {
  opacity: 0.01;
}

.activity--admin-enter.activity--admin-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.activity--admin-leave {
  opacity: 1;
}

.activity--admin-leave.activity--admin-leave-active {
  opacity: 0.01;
  transition: opacity 700ms ease-in;
}

.admin.coffeePollComponent rect {
  fill: #AADCE6;
}