

.f-header {
    font-family: 'Guardian Egyptian Web', Georgia, serif;
    font-weight: 900;
    font-size: 20pt;
    line-height: 24pt;
}

.f-headline {
    font-family: 'Guardian Egyptian Web', Georgia, serif;
    font-weight: 400;
    font-size: 20pt;
    line-height: 24pt;
}

.f-bodyCopy {
    font-family: 'Guardian Text Egyptian Web', Georgia, serif;
    font-weight: 400;
    font-size: 16pt;
    line-height: 24pt;
}

.f-bodyHeading {
    font-family: 'Guardian Text Egyptian Web', Georgia, serif;
    font-weight: 700;
    font-size: 16pt;
    line-height: 24pt;
}

.f-textSans {
    font-family: 'Guardian Text Sans', Georgia, serif;
    font-weight: 400;
    font-size: 14pt;
    line-height: 20pt;
}