@import 'vars.scss';

body {
  font-family: 'Guardian Egyptian Web', Georgia, serif;
  background-color: $guardian-brand;
  color: #ffffff;
  padding: 0;
  margin: 0;
}


// Components

.c-stb--image {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.SeeSawComponent {
  background-image: url(./img/seesaw-background.png);
  height: 640px;
  width: 400px;
}

.admin--component {
	.SeeSawComponent {
		margin: 0 auto;
		margin-top: -30px;
    position: relative;

      .results {
        position: absolute;
        left: 30px;
        top: 340px;
      .result {
        position: absolute;
        &.remain {
          left: 280px;
        }
      }
      }
	}

	.SeeSawHeading {
		margin: 0 auto;
		padding-top: 12px;
		width: 70%;
		color: $guardian-comment-main;
	}

  .SeeSawBeam {
    background-image: url(./img/seesaw-beam.png);
    background-size: 350px 185px;
    height: 185px;
    width: 350px;
    position: absolute;
    top: 158px;
    left: 21px;
    z-index: 0;
  }
}

.wrapper {
  .SeeSawComponent {
    margin: 0 auto;
    position: relative;
  }

  .SeeSawHeading {
    margin: 0 auto;
    padding-top: 12px;
    width: 70%;
    color: $guardian-comment-main;
  }

  .SeeSawBeam {
    background-image: url(./img/seesaw-beam.png);
    background-size: 350px 185px;
    height: 185px;
    width: 350px;
    position: absolute;
    top: 158px;
    left: 21px;
  }
}