@import 'vars.scss';

body {
  font-family: 'Guardian Egyptian Web', Georgia, serif;
  background-color: $guardian-brand;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.SeeSawComponent {
  background-image: url(./img/seesaw-background.png);
  height: 640px;
  width: 400px;
}

.admin--component {
	.SeeSawComponent {
  		margin: 0 auto;
  		margin-top: -30px;
  	}

  	.SeeSawHeading {
  		margin: 0 auto;
  		padding-top: 12px;
  		width: 70%;
  		color: $guardian-comment-main;
  	}
}