@import 'fonts.scss';

body {
  font-family: "Helvetica Neue", helvetica, arial;
  padding: 0;
}

.wrapper {
  background-color: #005689;
  color: #fff;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

.logo {
  width: 100%;
}

.activity-enter {
  opacity: 0.01;
}

.activity-enter.activity-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.activity-leave {
  opacity: 1;
}

.activity-leave.activity-leave-active {
  opacity: 0.01;
  transition: opacity 700ms ease-in;
}