@import 'fonts.scss';
@import 'vars.scss';

body {
  padding: 0;
}

.wrapper {
  background-color: $guardian-brand;
  color: #fff;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

.logo {
  width: 100%;
}

.activity-enter {
  opacity: 0.01;
}

.activity-enter.activity-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.activity-leave {
  opacity: 1;
}

.activity-leave.activity-leave-active {
  opacity: 0.01;
  transition: opacity 700ms ease-in;
}

.seesaw-label {
  padding-top: 75px;
  padding-left: 12px;
}

.user-button {
  border: 1px solid #fff;
  
  border-radius: 21px;
  padding: 5px 15px;
  
  font-size: 13px;  
  z-index: 10;
}

.user-button.user-button--bremain {
  background-color: $guardian-features-support-4;
  border-color: #e6711b;
  color: #ddd;
  font-weight: bold;
  position: absolute;
  left: 72px;
}

.user-button.user-button--brexit {
  background-color: $guardian-comment-support-3;
  border-color: #efa;
  color: #222;
  font-weight: bold;
  position: absolute;
  left: 215px;  
}

.user-button.user-button--bremain:active {
  background-color: #111;  
}

.user-button.user-button--brexit:active {
  background-color: #111;  
}